
body {
    background-color: rgb(246, 245, 245);
    font-family: "lucida grande", "sans-serif";
}

form {
    margin: 0;
    padding: 0;
}

.completed label{
    text-decoration: line-through;
    color: rgb(203, 203, 203);
}

.app {
    margin: 0 auto;
    width: 500px;
}

.taskBox {
    margin-top:50px;
}

.taskBox .title {
    padding: 25px 0px 25px 0px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.taskBox .taskForm {
    padding: 10px 30px 0px 5px;
}

.taskBox .taskBoxBar {
    color: rgb(203, 203, 203);
    padding: 20px;

    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.taskBox input {
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px #b9b8b8;
}

.taskBox input[type=text] {
  padding: 15px;
  width: 66%;
  margin-right: 3%;
  box-shadow: inset 0px 3px 12px -2px rgba(0,0,0,0.1);
}

.taskBox input[type=submit] {
  width: 30%;
  font-weight: bold;
  background: rgba(232,232,232,1);
  background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 46%, rgba(215,215,215,1) 54%, rgba(215,215,215,1) 100%);
}

.taskBox aside {
    float: right;
}

.taskList li {
    color: rgb(122, 123, 124);
    border-width: 0;
}
.taskList li:hover .ui-icon {
    visibility: visible;
}

.taskList .ui-icon {
    float: right;
    visibility: hidden;
}

.taskList .taskLabel {
    border-width: 0;
    padding-left: 7px;
    font-weight: 500;
}

.taskList li:nth-child(odd) {
    background-color: rgb(244, 247, 250);
}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

.taskFooter {
  font-size: 13px;
  text-align: right;
}

.taskFooter .markAll {
  color: #448ccb;
  cursor: pointer;
}

body {
  margin: 40px;
  width: 620px;
  font-family: arial;
  font-size: 15px;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  float:left;
  width:200px;
  background:#ddd;
}
li {
  padding: 10px;
  color: #666;
  line-height: 17px;
}
li.dragging {
  background: #eee;
}
#app > ul {
  float: left;
}
#grid div {
  height: 111px;
  width: 130px;
  float: left;
  color: #fff;
  position: relative;
}
#grid div span {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#grid div.dragging {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 1;
}




